* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.menu {

}

.menu__title {

}

.menu__list {

}

.menu__list-item {

}

.wrapper {
    
}

.wrapper__input {
    width: 250px;
    padding: 6px;
    margin: 25px;
}

.wrapper__btn {
    padding: 5px 12px;
    font-size: 1.6rem;
}

.wrapper__answer-title {
    font-size: 1.6rem;

}

.wrapper__answer-title {
    margin-left: 25px;
}

.wrapper__answer {
    padding: 10px;
    border: 1px solid #242424;
    border-radius: 5px;
    margin: 10px 25px;
    padding: 30px;
    width: 900px;
    min-height: 300px;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.wrapper__text {
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper__sign {
    background-color: #FFFF00;
}

.wrapper__exponent {
    background-color: #00FF00;
}

.wrapper__fraction {
    background-color: #FF00FF;
}

.wrapper__answer > span {
    padding: 3px;
    border-radius: 3px;
}

.wrapper__format {
    background-color: #00d9ff;
}

.wrapper__hexa {
    background-color: #ff1878;
}